<a href="https://colab.research.google.com/github/JyothsnaGH/jghhp/blob/main/Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a dictionary

person = {
    "first_name": 'Wayne',
    "last_name": 'Gretsky',
    "nationality": 'Canada',
    "birth_year": 1961
}
person['first_name']
person['first_name'] = 'Jane' # We can change Wayne's name to Jane
person

{'first_name': 'Jane',
 'last_name': 'Gretsky',
 'nationality': 'Canada',
 'birth_year': 1961}

# EXERCISE: create a dictionary called car_type with your choice of a car brand, model, year, usnews_rating, and engine size.

In [4]:
## Write your answer here



car_type = {
    "brand": 'Toyota',
    "model": 'Corolla',
    "year": 2016,
    "rating": 4.6,
    'engine': 43
}
car_type['model']

'Corolla'

In [5]:
#LIST

primes = [2, 3, 5, 7, 11]
users = ["Dillon", "Michael", "Lea"]
users[-1]

'Lea'

In [6]:
users[0] = 'Madison'
users

['Madison', 'Michael', 'Lea']

In [10]:
users.append('Rachel')
users

['Madison', 'Michael', 'Lea', 'Rachel', 'Rachel', 'Rachel', 'Rachel']

In [13]:
users.pop()
users

['Madison', 'Michael', 'Lea', 'Rachel']

In [ ]:
# List with dictionaries as each item

products = [
    {"name": "IPhone 12", "price": 949},
    {"name": "Fairphone", "price": 419},
    {"name": "Pixel 5", "price": 799}]

# Create a list with dictionaries of 3 people with their names, ages, city of birth, and occupation.

In [19]:
## Write your answer here

people_work = [
    {"name": "Sam", "age": 45, 'birthcity': 'Vancouver', 'occupation': 'welder'},
    {"name": "Eric", "age": 19, 'birthcity': 'Mumbai', 'occupation': 'nurse'},
    {"name": "Gladys", "age": 79, 'birthcity': 'Antwerp', 'occupation': 'engineer'}]

people_work

[{'name': 'Sam', 'age': 45, 'birthcity': 'Vancouver', 'occupation': 'welder'},
 {'name': 'Eric', 'age': 19, 'birthcity': 'Mumbai', 'occupation': 'nurse'},
 {'name': 'Gladys',
  'age': 79,
  'birthcity': 'Antwerp',
  'occupation': 'engineer'}]

## Tuples

In [ ]:
point_dict = {"x": 2, "y": 4}
point_tuple = (2, 4)

date_dict = {
  "year": 1973,
  "month": 10,
  "day": 23
}
date_tuple = (1973, 10, 23)

date_tuple[0] # 1973
len(date_tuple) # 3

3

In [ ]:
a = [1, 2, 3]
b = a
b.append(4)
a

[1, 2, 3, 4]

OBJECT REFERENCES AND MUTATIONS

In [ ]:
a = [1, 2, 3]
b = a
b.append(4)

In [ ]:
a = [1, 2, 3]
# creating a new copy
b = a.copy()
# modifying b
b.append(4)
a

[1, 2, 3]

## INPUT AND OUTPUT OF TEXT

In [21]:
print("What is your name?")
name = input()
name
print("Nice to meet you, " + name)
# name_length = len(name)
# name_length

What is your name?
Rocky
Nice to meet you, Rocky

## Write a program which will ask the user for their birth year and will respond with the user's age in the year 2025.

In [29]:
print("What is your birth year?")
birthyear = input()
birthyear
print("In 2025, you will be", 2025 - int(birthyear))

What is your birth year?
2001
In 2025, you will be 24

In [ ]:
import random

print(random.randint(1, 6))
print(random.choice(["heads", "tails"]))

2
tails